.headline_section {
  background-image: url('images/header-shapes-desktop.png');
  background-size: cover;
}

body {
  background: grey;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
}

.bg-secondary {
  color: hsl(0, 0%, 90%);
}